/* same header, footer and section styling as home page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* fortmatting for image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* styling and formatting for the nav bar */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
